*{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
  }
.active a{
    background-color: #258d47;
    color: white;
}
.brandLogo{
    width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #258d47;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
.mainImg{
  width: 100%;
  height: 900px;
}
.imgback{
  width: 100%;
}
footer{
  width: 100%;
  height: 100px;
  background-color: #258d47;
}

